.section {
    width: 66%;
    position: relative;
}

.task-count {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem .5rem;
    color: var(--light-color);
}

.view-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.4rem;
    padding-bottom: 2.5rem;
}

.view-btn i {
    font-size: 1.4rem;
    padding-inline: .5rem;
    color: var(--light-color);
}

.grid-icon {
    display: none;
}

.list-icon {
    font-size: 1.6rem !important;
}

.drop-down {
    background-color: var(--secondary-background-color);
    border-radius: .4rem;
    border: 1.4px solid transparent;
    padding: .8rem;
    font-size: 1.3rem;
    color: var(--light-color-alt);
}

.drop-down:hover {
    border-color: var(--primary-blue);
}

.footer {
    text-align: center;
    padding-block: 2rem;
    font-size: 1rem;
}

.grid-icon.activated {
    display: block;
}

.list-icon.activated {
    display: none;
}

/* add and edit task */
.addtodo-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, .2);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
}

.edittodo-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, .2);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
}

.addtodo-wrapper {
    background-color: var(--primary-background-color);
    border-radius: 0.6rem;
    padding: 2rem;
    /* margin-top: 3rem; */
    /* width: 44.5rem; */
    width: 25rem;
    height: 55rem;
}

.addtodo-content {
    display: flex;
    justify-content: space-between;
    padding-block: .5rem;
}


.addtodo-form {
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.addtodo-form .add-task-btn {
    margin-top: 1.5rem;
    padding: 1.1rem;
    width: 100%;
    margin-left: 0;
}

.addtodo-label {
    display: block;
    font-size: 1.4rem;
}

.addtodo-input {
    background-color: var(--secondary-background-color);
    border-radius: 0.6rem;
    width: 100%;
    padding: 1.1rem;
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
    border: 1.4px solid;
    border-color: transparent;
    color: var(--light-color);
}

.addtodo-input:hover {
    border-color: var(--primary-blue);
}

.addtodo-container.activated {
    opacity: 1;
    transform: scale(1);
}

.edittodo-container.activated {
    opacity: 1;
    transform: scale(1);
}

input[type= 'checkbox' i] {
    accent-color: red;
}
